.nav {
  max-width: 500px;
  position: absolute;
  top: 53px;
  right: 120px;
  opacity: 1;
}
.nav__links {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 25px;
  font-size: 24px;
  margin: 0;
}

.nav__link {
  margin: 0;
  text-decoration: none;
  font-weight: 400;
  transition: all 0.3s ease;
  color: #f8fafc;
}

.nav__link:hover {
  color: #2f80ed;
}
